/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
public/css/app.css
public/css/app.css.map
public/css/main.css.map
public/css/main.css
public/js/app.js.map
public/js/main.js
public/js/main.js.map
public/js/app.js
